<div class="jumbotron">
  <form formGroup="form"
        [formGroup]="form">
    <div class="row">
      <div class="col">
        <div class="form-group m-0">
          <label for="start-date">Start Date</label>
          <div class="input-group">
            <input class="form-control start-date"
                   id="start-date"
                   placeholder="Start Date"
                   formControlName="startDate"
                   ngbDatepicker
                   readonly
                   #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-secondary"
                      (click)="d.toggle()"
                      type="button">
                <i class="far fa-calendar-alt"></i>
              </button>
            </div>
          </div>
          <small class="form-text text-muted">
            Enter date you would like the calendar to start from
          </small>
        </div>
      </div>
      <div class="col">
        <div class="form-group m-0">
          <label for="number-days">Number of Days</label>
          <input type="number"
                 min="1"
                 formControlName="numberDays"
                 id="number-days"
                 class="form-control"
                 placeholder="Number of Days">
          <small class="form-text text-muted">
            Enter number of days you would like in your calendar
          </small>
        </div>
      </div>
      <div class="col">
        <div class="form-group m-0">
          <label for="country-code">Country Code</label>
          <input type="text"
                 formControlName="countryCode"
                 id="country-code"
                 class="form-control"
                 placeholder="Country Code">
          <small class="form-text text-muted">
            Enter the country code
          </small>
        </div>
      </div>
      <div class="col-auto d-flex align-items-center justify-content-center">
        <button class="btn btn-primary"
                (click)="generateCalendar()"
                [disabled]="form.invalid">
          Generate Calendar
        </button>
      </div>
    </div>
  </form>
</div>

<div class="p-5">
  <div #calendarParent>
  </div>
</div>
